* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 40px;
}

input {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  width: 60%;
  font-size: 18px;
  outline: none;
}

button {
  width: 140px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  border: 2px solid #ce5205;
  border-radius: 2px;
  background-color: transparent;
  color: #fff;
}

button:hover {
  cursor: pointer;
  border: 3px solid rgb(255, 255, 255);
}

.tasks-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 18px;
  text-align: center;
  font-size: 22px;
}

li {
  display: flex;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.521);
    align-items: center;
    justify-content: center;
}

.titles-tasks {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.error::-webkit-input-placeholder {
  color: red;
  font-weight: bold;
}

.form-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 250px;
  padding-top: 15px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #e4722b;
}

.form-inputs-grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
}

img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

img:hover {
  cursor: pointer;
}